/*
.p-tabMenu {
  color: aqua;
  background-color: black;
}

:host ::ng-deep .dark-panel.p-panel {
  .p-panel-header {
      background: #212121;
      color:red
      
  }
}

:host ::ng-deep .sam{
  
    font-size: 60px;
    background-color: yellow;
    color: black;

}

:host ::ng-deep .p-menubar {
  color: red;
  font-size: 60px;
  background-color: green;
}

:host ::ng-deep h3 {
  font-style: italic;
  color: red;
}

:host ::ng-deep .p-accordionTab{
  font-style: italic;
  color: blue;
}


:host ::ng-deep .p-panelMenu {
  color: darken($color: blue, $amount: 0);
  font-size: 60px;
  background-color: green;
}

:root {
  --color-button-color: white;
  --color-button-background-color: black;
}

:root {
  --color-primary: yellow;
  --color-secondary: green;
  --color-tertiary: blue;
}

*/





