<div class="menu">
    <div class="ca" id="card1" routerLink="alunos">
      <img src="assets/aluna.png" alt="Avatar" style="width:55%;margin-left: 18%;"><br>
      <div class="container">
        <h4>Aluno</h4> 
      </div>
    </div>
    <div class="ca" id="card2" routerLink="cursos">
      <img src="assets/curso-online.png" alt="Avatar" style="width:55%;margin-left: 18%;">
      <div class="container">
        <h4>Curso</h4> 
      </div>
    </div>
    <div class="ca" id="card3" routerLink="turmas">
      <img src="assets/turma.png" alt="Avatar" style="width:55%;margin-left: 18%;"><br>
      <div class="container">
        <h4>Turma</h4> 
      </div>
    </div>
</div>

