<div class="estiloLista" id="lista-sidenav">
      <a class="corTextoPadrao" routerLink="sistema/cadastro" routerLinkActive="ativo" [routerLinkActiveOptions]="{exact:false}"><img src="assets/cadastro.png">&nbsp;Cadastro</a> <br> <br>
      <a class="corTextoPadrao" href="#"><img src="assets/avaliacao.png">&nbsp;Avaliações</a> <br> <br>
      <a class="corTextoPadrao" href="#"><img src="assets/pesquisa-de-dados.png">&nbsp;Consulta</a> <br> <br> 
      <a class="corTextoPadrao" href="#"><img src="assets/financeiro.png">&nbsp;Financeiro</a> <br> <br>
      <a class="corTextoPadrao" href="#"><img src="assets/relatorio-financeiro.png">&nbsp;Relatórios</a> 
</div>

